<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Mermbership Report</title>
</head>
<body>
    <h1>Member Membership Report</h1>
    
    <p><strong>Total Income:</strong> ${{ total_income }}</p>
    <p><strong>Total Members:</strong> {{ total_members }}</p>
    <p><strong>Total Active Members:</strong> {{ total_active_members }}</p>
    <p><strong>Total Inactive Members:</strong> {{ total_inactive_members }}</p>
</body>
</html>
